@import './base.css';

.mdc-text-field--textarea textarea,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--color-text) !important;
}

.mdc-text-field__resizer,
.mdc-select__menu .mdc-deprecated-list,
.mdc-autocomplete__menu .mdc-deprecated-list,
.vacp-format-switch-button,
.mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor,
.mdc-dialog__surface {
    background-color: var(--color-background) !important;
}

.no-resize .mdc-text-field__resizer {
    resize: none !important;
}

.mdc-text-field label,
.mdc-text-field--disabled .mdc-text-field__input,
.mdc-text-field--disabled .mdc-text-field__icon--leading,
.mdc-text-field--disabled .mdc-text-field__icon--trailing,
.mdc-select__selected-text,
.mdc-text-field-helper-text,
.mdc-select:not(.mdc-select--disabled) .mdc-floating-label,
.mdc-dialog__title,
.mdc-dialog__content {
    color: var(--color-text) !important;
}

.mdc-confirm-dialog__primary-button {
    background-color: var(--color-background) !important;
    color: var(--color-text) !important
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing,
.mdc-text-field--disabled .mdc-notched-outline__trailing,
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--disabled .mdc-notched-outline__leading,
.mdc-text-field--disabled .mdc-notched-outline__notch,
.mdc-text-field--disabled .mdc-notched-outline__trailing {
    border-color: var(--vt-c-text-dark-2) !important;
}

.mdc-text-field--disabled .mdc-text-field__icon--leading,
.mdc-text-field--disabled .mdc-text-field__icon--trailing {
    pointer-events: auto !important;
    cursor: pointer !important;
}

.mdc-alert.mdc-alert--success {
    background-color: rgba(15, 157, 88, 0.25) !important;
}

.mdc-select__dropdown-icon {
    fill: var(--color-text) !important;
}

.mdc-divider--horizontal .mdc-divider__text:after,
.mdc-divider--horizontal .mdc-divider__text:before {
    background-color: var(--color-text) !important;
}

input:disabled {
    cursor: no-drop !important;
}

.vacp-color-picker {
    height: 100%;
    grid-template-rows: 1fr auto auto;
    background-color: var(--color-background) !important;
    max-width: 100% !important;
}

input.vacp-color-input {
    background-color: var(--color-background) !important;
    color: var(--color-text) !important;
}

.vacp-color-space {
    min-height: calc(var(--vacp-color-space-width)*.6) !important;
    height: 100% !important;
}

.hljs {
    height: 100% !important;
    width: 100% !important;
}

.error .mdc-notched-outline.mdc-notched-outline--no-label .mdc-notched-outline__leading,
.error .mdc-notched-outline__notch,
.error .mdc-notched-outline__trailing,
.error .mdc-text-field--disabled .mdc-notched-outline__trailing,
.error .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
.error .mdc-text-field--disabled .mdc-notched-outline__leading,
.error .mdc-text-field--disabled .mdc-notched-outline__notch,
.error .mdc-text-field--disabled .mdc-notched-outline__trailing,
.error .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-color: red !important;
}

.error input,
.error textarea {
    caret-color: red !important;
}

.errorHelper * {
    color: red !important;
}

.styleInput {
    border: 1px solid var(--vt-c-text-dark-2);
    border-radius: 5px;
    padding: 10px;
    font-family: var(--mdc-typography-subtitle1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    word-break: break-all;
    height: 54px;
    overflow-y: auto;
}

.styleInput:focus {
    border-color: var(--color-text);
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: var(--vt-c-text-dark-2) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mdc-text-field--textarea.red textarea,
.mdc-text-field.red:not(.mdc-text-field--disabled) .mdc-text-field__input,
.red {
    color: #ff5555 !important;
}

.mdc-text-field--textarea.purple textarea,
.mdc-text-field.purple:not(.mdc-text-field--disabled) .mdc-text-field__input,
.purple {
    color: #ff01ff !important;
}

.mdc-text-field--textarea.blue textarea,
.mdc-text-field.blue:not(.mdc-text-field--disabled) .mdc-text-field__input,
.blue {
    color: #8080ff !important;
}

.inputError {
    background-color: rgb(99, 33, 33) !important;
}

.inputError .mdc-text-field__resizer {
    background-color: transparent !important;
}

/* transparent selection */
.tSel::-moz-selection,
.tSel::selection {
    color: transparent !important;
    background: lightblue;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
    color: var(--color-text) !important;
    background-color: var(--color-background) !important;
    border-bottom-color: var(--color-text) !important;
}

table {
    width: 100% !important;
}

.match {
    background: rgba(0, 255, 0, 0.25) !important;
    color: #fff !important;
    border-radius: 2.5px;
}

.added {
    background-color: rgba(0, 255, 0, 0.25);
}

.removed {
    background-color: rgba(255, 0, 0, 0.25);
    text-decoration: line-through;
}

pre code.hljs {
    flex-grow: 1;
    overflow-y: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 5px;
    max-height: 100vh;
}